NEXT_PUBLIC_MAIN_URL=https://www.mbk.ma
NEXT_PUBLIC_TRAVEL_URL=https://www.mbk.ma/premium-travel
NEXT_PUBLIC_PREMIUM_TRAVEL_URL=https://www.mbk.ma/premium-travel
SANAA_MAIN_PORT=3000
SANAA_PREMIUM_TRAVEL_PORT=3001
